header {
	color: #FFFFFF;
	text-align: center;
	background-color:#222625 ;
	
}

nav {
  color: #FFFFFF;
  text-align: center;
  font-family: Sans-serif,	Arial;
  background-color: #222625;
}

footer {
  color: #666363;
  background-color: #222625
}

html {
  background-color: #222625;
  color: #FFFFFF;
}









