header {
	color: #FFFFFF;
	text-align: center;
	background-color:#222625 ;
	
}

nav {
  color: #FFFFFF;
  text-align: center;
  font-family: Sans-serif,	Arial;
}

html {
  background-color:#222625;
  color: #FFFFFF;
}

footer {
 color: #DB750D;
}

#absatz {
	border: none;
	height: 2px;
	background-color: red;
	width: 50%;
	margin: 20px auto;
}
